html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/public-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url("../fonts/public-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/dm-serif-display-v9-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v9-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #edf3f8;
  background-image: url(../../img/bgiheader.png);
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% + 500px) -200px;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 40px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  width: 135px;
  height: 38px;
}

.button {
  padding: 16px 24.5px 14px 26.5px;
  color: #fbfcfe;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  background-color: #ba4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}

.button:hover {
  background-color: rgba(201, 77, 126, 0.5);
}

.button:active {
  background-color: #da6d97;
}

.header__gamburger-btn {
  border: none;
  background-color: transparent;
  display: none;
}

@media (max-width: 768px) {
  body {
    background-position: calc(50% + 9px) calc(50% - 163px);
  }
}

@media (max-width: 660px) {
  .header__nav__list {
    padding-left: 0;
  }
  .header__nav {
    margin-left: 0;
  }
  .header__button {
    padding: 9px 16.5px 8px 15.5px;
  }
}

@media (max-width: 550px) {
  .header__gamburger-btn {
    display: block;
  }
  .header__button {
    display: none;
  }
}

.header__nav {
  margin-left: 24px;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__item ~ .header__nav__item {
  margin-left: 40px;
}

.header__nav__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.7;
  color: #36536b;
}

.header__nav__link:hover {
  opacity: 0.5;
}

.header__nav__link:active {
  opacity: 1;
}

@media (max-width: 660px) {
  .header__nav__item ~ .header__nav__item {
    margin-left: 15px;
  }
}

@media (max-width: 550px) {
  .header__nav__list {
    display: none;
  }
}

.site-hero {
  margin-top: 74px;
}

.site-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-hero__title {
  max-width: 546px;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  color: #36536b;
}

.site-hero__form {
  margin-top: 21px;
}

.form {
  position: relative;
}

.form__inp {
  padding: 16px 276px 14px 27px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  border-radius: 24px;
}

.from-btn {
  position: absolute;
  left: 323px;
  padding: 16px 24.5px 14px 26.5px;
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  border: none;
}

.site-hero__subtitle {
  margin-left: 24px;
  font-family: 'Public Sans';
  font-size: 15px;
  line-height: 18px;
  color: #6c8294;
  font-weight: 400;
}

.site-hero__img {
  border-radius: 34px;
}

.site-hero_span {
  color: #1b262f;
  font-weight: 700;
}

@media (max-width: 850px) {
  .site-hero__title {
    max-width: 340px;
    font-size: 48px;
    line-height: 56px;
  }
  .form__inp {
    padding: 16px 150px 14px 27px;
  }
  .from-btn {
    left: 196px;
  }
}

@media (max-width: 768px) {
  .site-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .site-hero__title {
    max-width: 573px;
  }
  .form__inp {
    padding: 16px 100px;
  }
  .from-btn {
    left: 323px;
  }
  .site-hero__subtitle {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .site-hero__title {
    font-size: 38px;
    line-height: 46px;
  }
  .site-hero__form {
    text-align: center;
  }
  .form__inp {
    padding: 16px 160px 14px 27px;
  }
  .from-btn {
    top: 61px;
    left: 86px;
    padding: 16px 91px 14px 91px;
  }
  .site-hero__subtitle {
    margin-top: 70px;
  }
}

@media (max-width: 445px) {
  .site-hero__title {
    max-width: 327px;
    font-size: 32px;
    line-height: 36px;
  }
  .form__inp {
    padding: 16px 93px 14px 27px;
  }
  .from-btn {
    top: 61px;
    left: 57px;
    padding: 16px 46px 14px 50px;
  }
  .site-hero__subtitle {
    margin-top: 70px;
  }
}

.about {
  background-color: #1b262f;
  padding: 100px 0;
  background-image: url(../../img/bgabout.png);
  background-position: calc(50% - 532px)-276px;
  background-repeat: no-repeat;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #fbfcfe;
}

.about__subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  max-width: 445px;
  font-size: 15px;
  line-height: 28px;
  color: #fbfcfe;
  opacity: 0.7;
}

.about__inner__link {
  padding: 16px 32px 14px 32px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  border: 1px solid #fbfcfe;
  border-radius: 24px;
}

.about__inner__link:hover {
  background-color: #ffffff;
  color: #1b262f;
  opacity: 0.7;
}

.about__inner__link:active {
  background-color: #ffffff;
  color: #1b262f;
  opacity: 1;
}

.about__list {
  max-width: 536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-left: 0;
}

.about__item {
  width: 30%;
}

.about__item:nth-child(1) {
  padding-bottom: 54px;
}

.about__item:nth-child(2) {
  padding-bottom: 54px;
}

.about__item:nth-child(3) {
  padding-bottom: 54px;
}

@media (max-width: 950px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__wrapper {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about {
    background-position: calc(50% - 1px)-501px;
  }
}

@media (max-width: 550px) {
  .about__list {
    text-align: center;
  }
  .about__item {
    width: 50%;
  }
  .about__item:nth-child(1) {
    padding-bottom: 44px;
  }
  .about__item:nth-child(2) {
    padding-bottom: 44px;
  }
  .about__item:nth-child(3) {
    padding-bottom: 44px;
  }
  .about__item:nth-child(4) {
    padding-bottom: 44px;
  }
}

@media (max-width: 375px) {
  .about__title {
    font-size: 32px;
    line-height: 36px;
  }
}

.implement__inner {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.implement__content {
  max-width: 445px;
}

.implement__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}

.implement__subtitle {
  margin-top: 24px;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}

@media (max-width: 950px) {
  .implement__inner {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .implement__content {
    text-align: center;
  }
  .implement__subtitle {
    max-width: 573px;
  }
}

@media (max-width: 550px) {
  .implement__img {
    max-width: 391px;
  }
}

@media (max-width: 445px) {
  .implement__inner {
    padding-top: 80px;
  }
  .implement__img {
    max-width: 320px;
    height: 220px;
  }
}

.ui-ux {
  padding-top: 150px;
  background-repeat: no-repeat;
  background-image: url(../../img/bgabout.png);
  background-position: calc(50% + 698px) 48px;
}

.ui-ux__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-ux__content {
  max-width: 445px;
}

.ui-ux__title {
  font-family: 'DM Serif Display';
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}

.ui-ux__subtitle {
  margin-top: 24px;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}

.ui-ux__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-ux__img {
  border-radius: 30px;
}

.ui-ux__img ~ .ui-ux__img {
  margin-left: 40px;
}

@media (max-width: 950px) {
  .ui-ux__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ui-ux__content {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .ui-ux {
    padding-top: 100px;
    background-image: none;
  }
  .ui-ux__img ~ .ui-ux__img {
    margin-left: 25px;
  }
  .ui-ux__img {
    width: 168.32px;
    height: 360px;
  }
}

@media (max-width: 445px) {
  .ui-ux {
    padding-top: 80px;
  }
  .ui-ux__img {
    width: 152px;
    height: 290px;
  }
  .ui-ux__img ~ .ui-ux__img {
    margin-left: 21px;
  }
  .ui-ux__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.payments {
  padding-top: 146px;
}

.payments__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper ~ .wrapper {
  margin-left: 30px;
}

.payments__img {
  width: 106px;
  height: 106px;
}

.payments__title {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.138462px;
  color: #36536b;
}

.payments__subtitle {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #6c8294;
}

@media (max-width: 950px) {
  .payments__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper {
    max-width: 223px;
  }
  .wrapper ~ .wrapper {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .payments__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper {
    max-width: 435px;
  }
}

@media (max-width: 445px) {
  .wrapper {
    max-width: 320px;
  }
}

.ready-start {
  padding-top: 96px;
}

.ready-start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready-start__title {
  margin: 0;
  font-family: 'DM Serif Display';
  font-size: 48px;
  line-height: 56px;
  color: #36536b;
}

.form__inp {
  outline: none;
}

.form__inp:focus {
  -webkit-box-shadow: 0 0 2px #36536b;
          box-shadow: 0 0 2px #36536b;
}

@media (max-width: 768px) {
  .ready-start__title {
    margin-bottom: 40px;
  }
  .ready-start__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button {
    left: 266px;
  }
  .ready_inp {
    padding: 16px 220px 14px 27px;
  }
}

@media (max-width: 550px) {
  .ready-start__title {
    font-size: 32px;
    line-height: 36px;
  }
  .button {
    left: 73px;
  }
  .ready_inp {
    padding: 16px 150px 14px 27px;
  }
}

@media (max-width: 375px) {
  .ready_inp {
    padding: 16px 93px 14px 27px;
  }
  .button {
    left: 52px;
  }
}

.footer {
  margin-top: 50px;
  padding: 31px 35px;
  background-color: #1b262f;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav {
  margin-left: 64px;
}

.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.footer__nav__item ~ .footer__nav__item {
  margin-left: 40px;
}

.footer__nav__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item ~ .social-item {
  margin-left: 24px;
}

@media (max-width: 768px) {
  .footer__nav {
    margin-left: 10px;
  }
  .footer__nav__item ~ .footer__nav__item {
    margin-left: 15px;
  }
}

@media (max-width: 550px) {
  .footer {
    margin-top: 90px;
  }
  .social-list {
    padding-left: 0;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 445px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .footer__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav__item ~ .footer__nav__item {
    margin-top: 15px;
  }
}
