$background:rgb(237, 243, 248);
$darkPink: rgb(186, 66, 112);
$waterWhite:  rgb(251, 252, 254);
$sanJuanBlue: rgb(54, 83, 107);
$mirageBlue: rgb(27, 38, 47);
$charmPink: rgb(218, 109, 151);
$lightSanBlue:  rgb(108, 130, 148);
