body{
  background-color: $background;
  background-image: url(../../img/bgiheader.png);
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% + 500px) -200px;
}